// Hero image block
body.et_divi_builder #et_builder_outer_content .et_pb_section.hero-banner,
.hero-banner  {
  padding: 0 !important;
  width: 100%;
  height: 600px;
  overflow: hidden;
  display: block;

  background-size: cover;
	background-position: center;
	background-color: $color-main;
	background-blend-mode: multiply;
	position: relative;

  .overlay {
    height: 100%;
    width: 100%;
  }

  .overlay-wrapper {
    color: #FFFFFF;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    padding: 55px 30px;
    max-width: 1300px !important;
    margin: 0 auto;
  }


  .overlay-content {
    text-align: center;
  }

}
